*{
    box-sizing: border-box;
    margin: 0;
    bottom: 0;
}


.main_container{
    background-image: url(/assets/images/soccer_bg.jpg);
    display: flex;
    justify-content: center;
    justify-items: center; 
    width: 100%;
    height: 1200px;
    background-repeat: no-repeat  ;
    background-size: cover;
}



.players_positions{
    background-image: url(../images/soccer_field_possition.png);
    position: relative;
    z-index: 1;
    background-repeat: no-repeat; 
    width: 80%;
    height: 700px;
    background-size: cover;
margin-top: 130px;
bottom: 140px;   
left: 50px; 
margin-right: 120px; 
display: grid;
grid-template-columns: 65px 1fr 1fr 1fr 1fr 65px;
grid-template-rows: 65px 1fr 15px ;
grid-template-areas: 
". . . . . ."
". attack SDM defence GK ."
". . . . . ."
; 
}

.goal_keeper {
    color: red;
    grid-area: GK;
    display:flex;
    
    justify-content: center;
    align-items: center;
        }


.defence {
    color: red;
    grid-area: defence;
    display:flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
justify-content: space-around;
}

.sdm {
    color: red;
    grid-area: SDM;
        display:flex; 
        justify-content: center;
        flex-direction: column;
    gap: 10px ;
    align-items: center; 
}

.attack {
    color: red;
    grid-area: attack;
        display:flex; 
        justify-content: center;
    align-items: center;
        flex-direction: column; 
        gap: 50px;
}

.empty_card{
   width: 100px ;
    height: 147px ;    
        }

.empty_card_sdm{
   width: 100px ;
    height: 147px ; 
    margin-left: 70px;
}
.empty_card_attack{
    width: 100px ;
    height: 147px ;
    margin-left: 90px;   
}
.empty_card_attack_special{
   width: 100px ;
    height: 147px ;
    margin-left: 70px;     
}





/* styling the player card */

.player_card {
    width: 100px ;
    height: 147px ;
    background-image: url(https://www.futbin.com/design2/img/static/evolutions/placeholder-card-normal.webp);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top_card_side {
  display: flex;
  flex-direction: row;  
  justify-content: center;
  gap: 5px;
}

.player-master-info{
display: flex;
flex-direction: column;
gap: 5px;
align-items: center;
justify-content: center;
}
.player-master-info p{
    width: 12px;
    height: 10px;
    font-size: 10px;
    color: #e9cc74;
}
.player-master-info img{
    width: 12px;
    height: auto;
}
.player-picture{
    width: 60px;
    height: auto;
    margin-bottom: 4px;
}

.buttom_card_side{
display: flex;
flex-direction: column;
align-items: center;
}
.player_name{
    color: #e9cc74;
    font-size: 10px;

}
.player-features{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.player-features-col span{
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.player-feature-title{
    color: #e9cc74;
    font-size: 7px;
}
.player-feature-value{
    color: #e9cc74;
font-weight: bold;
font-size: 7px;

}

/* styling the player card */
